STORAGE_TYPE=local||s3
PORT=NUMBER_OF_PORT_OF_BACKEND

DB_HOST=HOST_NAME||IP_ADDRESS
DB_HOST_DEV=HOST_NAME||IP_ADDRESS
DB_HOST_HOMOLOG=HOST_NAME||IP_ADDRESS

DB=NAME_DATABASE
DB_USER=USER_DATABASE
DB_PASSWORD=PASSWORD_DATABASE

DB_DEV=NAME_DATABASE_DEV
DB_USER_DEV=USER_DATABASE_DEV
DB_PASSWORD_DEV=PASSWORD_DATABASE_DEV

DB_HOMOLOG=NAME_DATABASE_HOMOLOG
DB_USER_HOMOLOG=USER_DATABASE_HOMOLOG
DB_PASSWORD_HOMOLOG=PASSWORD_DATABASE_HOMOLOG

JWT_SECRET=YOU_APP_TOKEN_HERE

GOOGLE_CLIENT_ID=YOU_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOU_GOOGLE_CLIENT_SECRET_HERE

PIC_PAY_TOKEN=YOU_PICPAY_TOKEN_HERE
PIC_PAY_SELLER_TOKEN=YOU_PICPAY_SELLER_TOKEN_HERE

PAYPAL_CLIENT_ID=YOU_PAYPAL_CLIENT_ID_HERE
PAYPAL_CLIENT_SECRET=YOU_PAYPAL_CLIENT_SECRET_HERE
PAYPAL_URL_OAUTH=PAYPAL_OAUTH_API_URL
PAYPAL_URL_PLANS=PAYPAL_PLANS_APIR_URL
PAYPAL_URL_PRODUCTS=PAYPAL_PRODUCTS_API_URL
PAYPAL_URL_SUBSCRIPTION=PAYPAL_SUBSCRIPTION_API_URL

SENDGRID_TOKEN=YOU_SENDGRID_TOKEN_HERE

FRONT_END_URL=YOU_FRONTEND_URL
BACK_END_URL=YOU_BACKEND_URL